@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
}

body {
    background: url(imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

div#tel {
    background-color: aqua;
    width: 310px;
    height: 625px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#tel > img {
    display: block;
    margin: auto;
}

iframe {
    background-color: brown;
    width: 200px;
    height: 200px;
}

div#bot {
    background-color: aqua;
    text-align: right;
    padding: 30px 3px 0 0;
}

div#bot > a > img {
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
}